 /* Селектро тегу (типу) - 0001*/
h1 {
    color: blue;
    font-family: initial; /* Вимикає спадковість*/
    border: inherit; /*Вмикає спадковість*/
}
body {
    font-family: sans-serif;
    border: 5px blue solid;
    text-align: center;
    color: darkgrey;
}

p{
    font-family: monospace;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Селектор класу - 0010 
.annotation {
    font-size: 10px;
}
p {
    font-size: 20px;
}
Селектор ідентифікатору - 0100
#subcribe-btm {
    color:red;
}
*/

/*  Каскадність-якщо одна і та сама властиівісь визначення для одного і того самого селектора*/
